* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #EFF1FF;
    font-size: 1.6rem;
    font-family: 'Staatliches', cursive;
}

.page {
    max-width: clamp(38.4rem, 30rem + 50vw);
    padding: 0 auto;
    margin: 0 auto;
}

header {
    height: 27.9rem;
    background-color: #8E9AAF;
    display: flex;
    flex-direction: column;
}

header img {
    margin: 3.2rem 12.3rem;
    width: 13.7rem;
    height: 13.7rem;
}

header h1 {
    font-size: 4rem;
    line-height: 3.4rem;
    font-weight: 400;
    color: white;
    background-color: #CBC0D3;
    height: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    
}

main {
    padding: 1.4rem 3.2rem;

}

main p {
    font-family: 'Palanquin', sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.5rem;
    color: hsla(274, 84%, 12%, 1);
    font-weight: 400;
    margin-bottom: 6.3rem;
    
    display: flex;
    align-items: center;
    text-align: center;

    animation: none;
}

img {
    width: 100%;
    height: auto;
}

.card {
    position: relative;

    animation: downtop 700ms 350ms backwards;

}

.card img {
    height: 25rem;
    width: 32rem;
    object-fit: cover;

    border-radius: 2rem;
    margin-bottom: 3.6rem;
}

.card h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(232, 17%, 35%, 1);

    background-color: #fff;

    top: 1.6rem;
    left: 19.2rem;
    border-radius: 2rem;
    width: 11.2rem;
    height: 3.5rem;

    font-weight: 400;
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}